<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="brown.css" />
    <title>ColorPalette</title>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <img class="hand" src="/images/brownHand.png" alt="brown hand pic" />
      </div>
      <div class="right">
        <h1 class="title">Dark Chocolate Brown</h1>
        <h2 class="description">Color#002</h2>
        <img class="circle" src="/images/brown.png" alt="brown" />
      </div>
    </div>
  </body>
</html>
