<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="brown.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>ColorPalette</title>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <img class="hand" src="/images/brownHand.png" alt="brown hand pic" />
      </div>
      <div class="right">
        <h1 class="title">Dark Chocolate Brown</h1>
        <h2 class="description">Color #002</h2>
        <img class="circle" src="/images/brown.png" alt="black" />
        <form action="/secret" method="POST">
            <button class="btn btn-primary">Go Back</button>
          </form>
      </div>
    </div>
  </body>
</html>
