<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bubbleBath.css"/>
    <title>ColorPalette</title>
  </head>
  <body>
  <div class="container">
      <div class="left">
        <img class="hand" src="/images/bbHand.png" alt="bubble bath hand pic" />
      </div>
      <div class="right">
        <h1 class="title">Bubble Bath</h1>
        <h2 class="description">Color#001</h2>
        <img class="circle" src="/images/bubbleBath.png" alt="bubblebath" class="bubblebath">
      </div>

      
  </div>
 
  </body>
</html>
