<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="black.css" />
    <title>ColorPalette</title>
  </head>
  <body>
    <div class="container">
      <div class="hand">
        <img src="/images/mintHand.png" alt="black hand pic" />
      </div>
      <div>
        <h1 class="title">Black Onyx</h1>
        <h2 class="description">Color#002</h2>
        <img src="/images/mint.png" alt="black" class="bubblebath" />
      </div>
    </div>
  </body>
</html>
