.container {
    display: flex;
    align-items: center;
    margin-top: -4em;
}

.hand {
    margin-top: -1em;
    transform: scale(1.5);
}

.bubblebath {
    width: 60%;
    height: 60%; 
}

.title {
    font-size: 5rem;
    margin-left: -300px;
    margin-top: -200px;
    text-align: center;

}

.description {
    margin-top: -30px;
    margin-left: -142px;
    font-size: 2rem;
}

