.container {
    margin-top: -10em;
    display: flex;
    align-items: center;
}

.hand {
    transform: scale(1.5);
    
}

.bubblebath {
    margin-left: -20px;
    width: 60%;
    height: 60%; 
}

.title {
    font-size: 4rem;
    margin-left: -300px;
    margin-top: -10px;
    text-align: center;

}

.description {
    margin-top: -30px;
    margin-left: -6.4em;
    font-size: 2rem;
}

