body{
    background-color: white;
    position: relative;
}

img{
    height: 15em;
    width: 15em;
}

.menu{
    height: 2.5em;
    width: 2em;
    position: absolute;
    top: 20px; 
    right: 30px;
}

.titleDiv{
    display: flex;
    justify-content: center;
    align-items: center; 
    transform: translateX(-2em) translateY(-6em);
    margin-top: 10%;
    
}

.titleDiv2{
    display: flex;
    justify-content: center;
    align-items: center; 
    transform: translateX(-1.5em);
    margin-top: 10%;
    
}

.title{
    font-family: "Sacramento", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
}

.palette{
    height: 7em;
    width: 7em;
    position: relative;
    bottom: 1.5em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
    justify-items: center; 
    align-items: center; 
  }
  

.grid img {
    width: 100px;
    height: 100px; 
    object-fit: cover; 
    transition: transform 0.3s ease;
}
.box {
    background-color: white;
    border-radius: 10px; 
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-3.5em);
}


a{
    margin: 0;
    text-align: center;
}



